key.txt
AutoType/__pycache__
AutoType/__pycache__/__init__.cpython-37.pyc
MKtoArray/__pycache__
MKtoArray/__pycache__/__init__.cpython-37.pyc
Response/__pycache__
Response/__pycache__/__init__.cpython-37.pyc